.Header {
  display: grid;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-200);
}

.Header__logo {
  grid-column: 2 / span 5;
}

.Header__button {
  grid-column: 23 / span 3;
  justify-self: end;
}
