/* Button */

.Button {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0;
  background: none;
  border: none;
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  text-transform: capitalize;
}

.Button__label {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0 1rem;
  background: var(--color-primary-500);
  border: 1px solid var(--color-primary-500);
  border-radius: 0.25rem;
  color: var(--color-white);
  cursor: pointer;
}

@supports (display: grid) {
  .Button__label {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
  }
}

/* Add a small enough margin on bith sides for browsers that don't support grid */
.Button__label > svg {
  margin-left: 0.375rem;
  margin-right: 0.375rem;
}

/* Remove the margin as we really want to use grid-gap; set earler */
@supports (display: grid) {
  .Button__label > svg {
    margin-left: 0;
    margin-right: 0;
  }
}

.Button__label path {
  fill: var(--color-white);
}

.Button_small .Button__label {
  @mixin bodySmall;

  height: 2rem;
}

.Button_extraSmall .Button__label {
  @mixin smallPrint;

  padding: 0 0.5rem;
  height: 1.5rem;
}

.Button_primary .Button__label {
  background: var(--color-primary-500);
}

.Button_secondary .Button__label {
  background: transparent;
  color: var(--color-primary-500);
}

.Button_tertiary .Button__label {
  background: transparent;
  color: var(--color-primary-500);
  border: 1px solid transparent;
}

.Button_secondary .Button__label path,
.Button_tertiary .Button__label path {
  fill: var(--color-primary-500);
}

.Button_primary:hover .Button__label {
  background: var(--color-primary-400);
}

.Button_secondary:hover .Button__label {
  background: var(--color-primary-400);
  color: var(--color-white);
  border-color: var(--transparent);
}

.Button_tertiary:hover .Button__label {
  color: var(--color-primary-400);
}

.Button_tertiary .Button__label:hover {
  text-decoration: underline;
}

.Button:focus .Button__label {
  outline: none;
}
