:root {
  /* Spacing */
  --horizontal-space: 1rem;
  --vertical-space: 1rem;
  --horizontal-space-small: 0.5rem;
  --vertical-space-small: 0.5rem;
  --gutter-x: 1rem;
  --gutter-y: 1.5rem;
  --baseline-half: 0.75rem;
  --touch-area-min: 3rem;
}
