.ProductFragment {
  display: grid;
  grid-template-rows: 1.5rem 14.5rem 4rem;
}

.ProductFragment__overline {
  line-height: var(--line-height-body);
  grid-row: 1;
}

.ProductFragment__image {
  grid-row: 2;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.ProductFragment__details {
  display: grid;
  grid-row: 3;
  align-content: start;
}

.ProductFragment__price {
  font-weight: bold;
}
