:root {
  --default-font-family: arial, helvetica, sans-serif;
  --heading-font-family: var(--default-font-family);
  --heading-font-weight: bold;
  --default-font-weight: normal;
  --button-font-weight: bold;
}
