.Footer {
  grid-column: fluid-margin;
  background: var(--color-grey-100);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.Footer__inner {
  grid-column: container;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: inherit;
  align-items: start;
}

.Footer__list {
  list-style: none;
  padding: 0;
}

.Footer__listItemLink {
  font-size: var(--font-size-body-small);
  line-height: var(--line-height-body-large);
  display: inline-block;
  text-decoration: none;
  color: var(--color-grey-500);
  line-height: 2.25rem;
}

.Footer__section_fancy {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  background: var(--color-white);
  border-radius: 0.5rem;
}

.Footer__title {
  line-height: 2rem;
  margin-top: 0.5rem;
}

.Footer__section_fancy .Footer__title {
  margin-top: 0;
}
