/* Theme custom properties for ihm */

@import "./font-face.css";

:root {
  --bold-font-family: "CircularBold", helvetica, arial, sans-serif;
  --default-font-family: "CircularBook", helvetica, arial, sans-serif;
  --heading-font-family: var(--bold-font-family);
  --heading-font-weight: normal;
  --button-font-weight: bold;
  --button-font-family: var(--bold-font-family);
}
